bin/
node_modules/
temp_build/
obj/
obj-test/
babel.config.js
*_jalangi_*.js*
*.d
*.o
*.un~
*.dylib
*.a
*configure
*config.log
*config.status
*autom4te.cache
*Makefile
*lib.srcs
*shell.srcs
*npm-debug.log
.DS_Store
*paper.synctex.gz
*.aux
*.log
*.pdf
z3.emscripten.js.mem
libz3*
.babelrc
Dashboard/tmp/*
tmp/
package-lock.json
.vscode/settings.json
*.swp
cache/
