matrix:
    include:
        - os: linux
          addons:
            apt:
              sources:
                - llvm-toolchain-trusty-5.0
              packages:
                - clang-5.0
          env:
            - MATRIX_EVAL="CC=clang-5.0 && CXX=clang++-5.0"

before_install:
    - eval "${MATRIX_EVAL}"

language: node_js

node_js:
    - "node"
    - "lts/*"

install:
    - CC=clang CXX=clang++ npm install --clang=1

script:
    - npm test
